.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 500px;
    gap: 20px;
}
.form select,input{
    height: 30px;
    border-radius: 5px;
}
.gender input{
    height: 20px;
}
input{
    padding-left: 10px;
}